<div class="nav">
    <div class="logo">
        <img class="img" src="https://img.freepik.com/free-vector/human-people-logo-design_474888-2362.jpg?w=740&t=st=1696217642~exp=1696218242~hmac=de6c4583d7f02870c6528da6b7374d28023c7e1666430285f226bca76f7cfef8" alt="">
        <span class="logo-info">İmtahan Proqramı</span>
    </div>
    <div class="topnav" id="myTopnav">
        <a routerLink="" routerLinkActive="router-link-active">Ana Səhifə</a>
        <a routerLink="less" routerLinkActive="router-link-active">Dərslər</a>
        <a routerLink="stud" routerLinkActive="router-link-active">Şagirdlər</a>
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
    </div>
</div>