<form>
    <h1 mat-dialog-title>Information</h1>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-12" *ngIf="data.Text">
                <p>{{data.Text}}</p>
            </div>
            <div class="col-12" *ngIf="data.obj_message">
                <div *ngFor="let i of getData(data.obj_message)">
                    <span>{{i}}</span>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    <mat-dialog-actions *ngIf="data.Text" align="end" class="mt-3">
        <button mat-stroked-button class="custom-btn" [mat-dialog-close]="true" (click)="isRefresh(data.isRefresh)">
      <span translate>Close</span>
    </button>
    </mat-dialog-actions>

    <mat-dialog-actions *ngIf="data.obj_message" align="end" class="mt-3">
        <button mat-stroked-button class="custom-btn" [mat-dialog-close]="true" (click)="reload()"><span translate>Close</span></button>
    </mat-dialog-actions>
</form>