
<div class="content">
    <div  class="mt-4">
      
        <p *ngIf="!update" class="sw-title">Yeni İmtahan</p>
        <p *ngIf="update" class="sw-title">İmtahan Düzəliş</p>
        <div class="row">
          <div class="col-12 ">
            <form [formGroup]="newExam" class="card-section form-c"  (ngSubmit)="onSubmit()">  
       
                    <div class="row">
                      <div class="col-12 col-sm-4">
                        <div class="block-section mt">
                          <label class="btm-7">Dərs</label>
                          <mat-select (selectionChange)="onChange($event.value)" class="sw-input" formControlName="lessonId" >
                              <mat-option *ngFor="let ddl of less" [value]="ddl.id">
                                {{ddl.name+' '+ddl.class}}
                              </mat-option>
                            </mat-select>
                            <span class="text-danger danger-font"
                            *ngIf="(newExam.controls['lessonId'].touched || submitted) && newExam.controls['lessonId'].errors">
                            Boş ola bilməz.
                            </span>
                      </div>
                      </div>
                    

                      <div class="col-12 col-sm-4">
                        <div class="block-section mt">
                          <label class="btm-7">Şagird</label>
                          <mat-select class="sw-input" formControlName="studentId" >
                            
                              <!-- <input matInput placeholder="Search" (keyup)="filterOptions($event.target)" />
                             -->
                            <mat-option *ngFor="let x of options" [value]="x.id" >{{x.name+' '+x.surname}}</mat-option>
                        </mat-select>
                            <span class="text-danger danger-font"
                            *ngIf="(newExam.controls['studentId'].touched || submitted) && newExam.controls['studentId'].errors">
                            Boş ola bilməz. 
                            </span>
                      </div>
                      </div>
                  
                      <div class="col-12 col-sm-4">
                        <div class="block-section mt">
                          <label class="btm-7">İmtahan tarixi</label>
                          <div style=" height:32px;position: relative;" class="sw-input"  
                          [ngClass]="{ 'is-invalid': (newExam.controls['examDate'].touched || submitted) && newExam.controls['examDate'].errors}">
                          <input type=text formControlName="examDate"    [matDatepicker]="datepickerB" style="border:none; width:200px;"/>
                          <mat-datepicker-toggle matSuffix [for]="datepickerB"></mat-datepicker-toggle>          
                           <mat-datepicker #datepickerB></mat-datepicker>
                          </div>
                           <span class="text-danger danger-font"
                           *ngIf="(newExam.controls['examDate'].touched || submitted) && newExam.controls['examDate']?.errors">
                           Boş ola bilməz.
                           </span>
                      </div>
                      </div>

                      <div class="col-12 col-sm-4">
                        <div class="block-section mt">
                          <label class="btm-7">Qiymət</label>
                          <div style=" height:32px;position: relative;" class="sw-input"  
                          [ngClass]="{ 'is-invalid': (newExam.controls['point'].touched || submitted) && newExam.controls['point'].errors}">
                          <input type="number" maxlength="1" formControlName="point"    style="border:none; width:200px;"/>
                        
                          </div>
                           <span class="text-danger danger-font"
                           *ngIf="(newExam.controls['point'].touched || submitted) && newExam.controls['point']?.errors">
                           Boş ola bilməz.
                           </span>
                      </div>
                      </div>
                    </div>
                    <div style="display: flex;align-items: center;justify-content: end; margin-top: 15px;">
                      <button class="sw-btn blue blue-ripple" style="margin-right: 20px; padding-right: 15px;" (click)="back()"><mat-icon style="vertical-align: -4px; margin-right: 5px">keyboard_backspace</mat-icon>Geri</button>    
                  <button *ngIf="!update"  type="submit" [disabled]="buttonDisabled" class="sw-btn blue blue-ripple">Əlavə et</button>    
                  <button *ngIf="update"  type="submit" [disabled]="buttonDisabled" class="sw-btn blue blue-ripple">Dəyiş</button>    
                    </div>
                  
                 
                  <!-- <button class="sw-btn blue blue-ripple" style="margin-left: 10px; padding-right: 15px; margin-top:35px"><mat-icon style="vertical-align: -4px; margin-right: 5px">keyboard_backspace</mat-icon>Back</button>    
                  <button *ngIf="!update" [disabled]="newExam.invalid" (click)="createStudent()" style="margin: 40px 0 0 60%;" class="sw-btn blue blue-ripple">Create</button>    
                  <button *ngIf="update" [disabled]="newExam.invalid" (click)="updateStudent()" style="margin: 40px 0 0 60%;" class="sw-btn blue blue-ripple">Update</button>     -->
              </form>
          </div>
        </div>
    
    </div>
    <div class="spin" *ngIf="spinner">
    <div class="mat-spinner" >
    <mat-spinner ></mat-spinner> 
  </div>
</div>
</div>
