.custom-btn[disabled],
.custom-btn[disabled]:hover {
    cursor: not-allowed !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #c6c2c2 !important;
    opacity: 0.7;
    color: #a09f9f !important;
    border-color: #a9a8a8;
}

.custom-close-btn {
    top: -15px;
    position: relative;
    left: 96%;
    font-size: 25px;
    color: #027393;
    padding: 0px;
    background: none;
    border: none;
    margin-bottom: 10px;
}

.btn-waiting-time {
    color: $light-gray !important;
    cursor: not-allowed !important;
    background-color: #0f7b9a !important;
}

.custom-btn {
    background: $button-color !important;
    color: white !important;
    &:hover {
        background-color: $button-color !important;
    }
}

// .mat-flat-button.mat-primary.custom-btn {
//   background-color: $button-color !important;
// }
// radio
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #337ab7;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #337ab7;
}

//checkbox
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #337ab7;
}

.mat-primary .mat-pseudo-checkbox-checked {
    background: #337ab7;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #337ab7;
}

.mat-checkbox-label {
    white-space: initial;
}

.btn {
    padding: 4px 18px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center !important;
    cursor: pointer !important;
    //@debug: 1px solid #ccc!important;
    //border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25)!important;
    // box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)!important;
}

.btn-default {
    background: $deep-blue !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: none !important;
    padding: 6px 15px !important;
    outline: none !important;
    font-family: "Helvetica Neue", sans-serif !important;
}

.btn1-default {
    background: #03A9D9 !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: none !important;
    padding: 6px 30px !important;
    outline: none !important;
    font-family: "Helvetica Neue", sans-serif !important;
}

.button-info {
    background-color: $info !important;
}

// .btn:focus,
// .btn-default:focus,
// button:focus {
//     box-shadow: none !important;
// }