// radio
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #337ab7 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #337ab7 !important;
}

//checkbox
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #337ab7 !important;
}
.mat-checkbox-label {
  white-space: initial;
}
.mat-primary .mat-pseudo-checkbox-checked {
  background: #337ab7 !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #337ab7 !important;
}
.mat-checkbox-label {
  white-space: initial;
}
mat-form-field {
  .input-loader {
    right: 0px;
  }
}
// select

.mat-select-arrow {
  color: #909190 !important;
}
.select-th {
  min-width: 62px !important;
}
.mat-select-trigger {
  padding: 0 !important;
}
input[disabled],
.mat-select-disabled,
select[disabled] {
  background-color: #eee;
  cursor: not-allowed !important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #000000 !important;
}
.mat-select-trigger {
  padding: 0 !important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #000000 !important;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $button-color !important;
}

// calendar
.mat-calendar-body-selected {
  background-color: $button-color !important;
}

// mat-filed
.mat-form-field-ripple {
  display: none !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-underline {
  display: none !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}
.form-control:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.customForm {
  .datepicker {
    width: 100%;
    display: inline-block;
    position: relative;
    input {
      padding-right: 20px;
    }
    mat-datepicker-toggle,
    mat-datepicker,
    mat-button-wrapper,
    mat-focus-indicator,
    mat-icon-button,
    mat-button-base {
      display: inline-block;
      position: absolute;
      z-index: 5;
      margin-left: -34px;
      // right: 2px;
      cursor: pointer;
      top: 58%;
      transform: translateY(-50%);
    }
    .mat-icon-button .mat-button-wrapper > * {
      width: 20px !important;
    }
  }
  mat-label {
    width: 100% !important;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  label {
    width: 100% !important;
    // font-family: Segoe UI!important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  font-size: 14px;

  .form-control-inline {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .operation {
    margin: 0 20px;
    background: rgba(205, 214, 226, 0.2);
    padding: 20px;
    label {
      color: $button-color !important;
    }
    div label {
      color: black !important;
    }
  }

  mat-checkbox {
    left: -90%;
    position: relative;
  }
  mat-select {
    outline: none !important;
    border: 2px solid #cdd6e2 !important;
    color: #cdd6e2;
    padding: 6 1px !important;
    font-size: 14px !important;
    border-radius: 4px !important;
    -webkit-appearance: none;
    line-height: 1em;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    -ms-appearance: none;
    appearance: none !important;
    cursor: pointer;
    margin-bottom: 15px !important;
  }

  mat-radio-button {
    margin-bottom: 15px !important;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  textarea {
    padding-left: 3px;
    border: 2px solid #cdd6e2 !important;
    outline: none !important;
    border-radius: 4px !important;
    height: 31px;
    margin-bottom: 15px !important;
    &:active {
      background-color: #fff !important;
    }
  }
  textarea {
    height: 60px;
  }
  button,
  select {
    text-transform: none;
  }
  button[type="submit"] {
    background: #03a9d9 !important;
    border-color: #03a9d9 !important;
    color: #fff;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    border-radius: 4px;
    transition: 1s;
  }
  input[disabled],
  .mat-select-disabled,
  select[disabled] {
    background-color: #eee;
    cursor: not-allowed !important;
  }

  .btn[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
  }
  .input-validation-error {
    background-color: #ffb3b3;
  }
}

.red {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  textarea {
    border: 1px solid red !important;
  }
  input[type="text"][disabled],
  input[type="email"][disabled],
  input[type="password"][disabled],
  input[type="date"][disabled],
  input[type="number"][disabled],
  textarea[disabled] {
    opacity: 0.5;
    border: 1px solid red !important;
  }
  mat-select {
    border: 1px solid red !important;
  }
  .mat-radio-outer-circle {
    border: 1px solid red !important;
  }
  mat-checkbox {
    border: 1px solid red !important;
  }
}

.pin-search {
  width: 100%;
  display: inline-block;
  position: relative;
  label {
    width: 100%;
  }
  i {
    display: inline-block;
    position: absolute;
    z-index: 5;
    margin-left: -24px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
  }
  .disable-i {
    color: #343a408a;
    cursor: not-allowed;
  }
}
.mat-form-field-disabled, input[readonly]
{
  background-color: rgb(238 238 238);
  cursor: not-allowed;
}
