@import "../styles/table-general.scss";
@import "../styles/table-without-filter.scss";

table.custom-table th {
  background-color: #f7f8f7;
  min-width: auto;
  max-width: 168px !important;
}
.min-width-auto
{
    min-width: auto !important;
}

table.custom-table th.mini-th
{
    max-width: 114px !important;
}

table.mini-table tbody tr th.w-min-equal
{
    min-width: 166px;
}

.custom-table tr.row-detail {
    height: 0 !important;
}

.custom-table th.row-detail
{
    padding: 0 !important;
}

.custom-table th.row-detail.active
{
    padding: 14px !important;
}

.row-detail
{
    height: 0 !important;
    overflow: hidden !important;
    transition: all .3s;
}

.row-detail.active
{
    margin-top: 15px;
    height: auto !important;
}

// @media (min-width: 1672px)
// {
//     .mt-2xl-3
//     {
//         margin-top: 15px;
//     }
// }

mat-icon
{
    color: #1C3651 !important;
}

.mat-menu-item{
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px !important;
}

.custom-font
{
    font-weight: 300;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
}

.text-info
{
    color: $info;
}
table.custom-table th.mini-th
{
    max-width: 114px !important;
}

table.mini-table tbody tr th.w-min-equal
{
    min-width: 166px;
}
mat-icon
{
    color: #1C3651 !important;
}

.mat-menu-item{
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px !important;
}

.custom-font
{
    font-weight: 300;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
}

.text-info
{
    color: $info;
}
.cursor-pointer{
    cursor: pointer;
}