@import "../styles/table-general.scss";

.mat-table {
    // font-family: 'esahsFontFamily' !important;
    font-size: 13px !important;
    font-family: "Sansita", sans-serif;
}

.custom-table td:focus {
    outline: none !important;
}

.custom-table thead {
    background-color: rgb(239 239 239) !important;
    font-family: Helvetica Neue,Arial,sans-serif;
}

.custom-table tr,
.custom-table thead,
.custom-table th,
.custom-table td {
    padding: 14px !important;
}
.custom-table tr {
    box-sizing: content-box;
    border: 1px solid #dee2e6 !important;
}
.custom-table tr:hover {
    background: #efefef !important;
}
.custom-table tr:hover button {
  background: #efefef !important;
}
.custom-table tr.mat-header-row {
    height: 48px !important;
}

.custom-table tr.mat-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}
.custom-table th {
    font-weight: bold;
    min-width: 130px;
    font-size: 14px;
    color: black;
}

.custom-table td {
    font-size: 13px;
}

.table-arrow
{
    color: #3C5D7D;
}

.rotate
{
    transition: cubic-bezier(225ms cubic-bezier(0.4, 0.0, 0.2, 1));
    transform: rotate(0deg);
}

.rotate.active
{
    transform: rotate(90deg);
}

table.mini-table
  {
      tr
      {
        border: 2px solid $info !important;
        td 
        {
          tr
          {
            border-left: none !important;
            border-right: none !important;
          }
        }
      }
  }
  table.mini-table tr th.custom-py-0
  {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  table.mini-table tr th.custom-p-equal
  {
    padding: 10px 14px !important;
  }
  table.mini-table tr.no-border
  {
    border: none !important;
  }
  table.mini-table tr.no-border-top
  {
    border-top: none !important;
  }
  table.mini-table tr.no-border-bottom
  {
    border-bottom: none !important;
  }

  table.mini-table tr th
  {
    border-right: 2px solid $info !important;
  }
  table.mini-table tr td
  {
    border-left: 2px solid $info !important;
  }

  table.mini-table tr td.custom-padding-x-0
  {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  table.mini-table tr
  {  
    td.custom-p-0, th.custom-p-0
    {
      padding: 7px !important;
    }
  }

  table.mini-table tr td tr.custom-p-0
  {
    padding: 0 !important;
  }

  tr.student-detail-row {
    height: 0;
    background: white !important;
  }
  tr.student-detail-row td
  {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }
  
  tr.student-element-row:not(.student-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.student-element-row:not(.student-expanded-row):active {
    background: #efefef;
  }
  
  .student-element-row td {
    border-bottom-width: 0;
  }
  
  .student-element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #e1e1e1;
    // box-shadow: inset 2px 3px 8px #c1c1c1;
    border-radius: 8px;
  }
  
  .student-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .student-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .student-element-description {
    padding: 16px;
  }
  
  .student-element-description-attribution {
    opacity: 0.5;
  }