$main-heading:#1c3651;
$light-gray: #c7c7c7;
$gray: #8B8E8D;
$side-bar: #3c5d7d;
$tab-color:#03a9d9;
$button-color:#03a9d9;
$info: #03A9D9;
$deep-blue:#02607C;
$dark-gray:#4A4A4C;
$dark-gray-href:#49494B;
$bright-blue:#0056B3;
$bright-blue-href:#337ab7;
$dark-blue:#0B2134;
$dark-blue-sweep:#173652;
$input-border-color:#cdd6e2;
$lbl-gray: #69707D;
$title-gray: #4F4F4F;