
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    border-bottom: 1px solid rgba(99, 95, 95,.3);
    box-shadow: 1px 0px 1px rgba(99, 95, 95,.3);
    color: red;
    padding: 10px 10px;
    position: fixed;
    width: 101%;
    top: 0;
    background-color: white;
    z-index: 1;
    
}
.main{
    margin-top: 50px;
    min-height: 85vh;
}
@media screen and (max-width: 600px) {
    .header{   position: relative;}
  }
  