
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 150px;
}
.header{
    border-bottom: 1px solid rgba(99, 95, 95,.3);
    box-shadow: 1px 0px 1px rgba(99, 95, 95,.3);
    color: red;
    padding: 10px 10px;
    position: fixed;
    width: 101%;
    top: 0;
    background-color: white;
    z-index: 1;
    
}
.main{
    margin-top: 50px;
    min-width: 80%;

}
@media screen and (max-width: 600px) {
    .container{
   
        margin: 0 0;
    }
    .header{   position: relative;}


    .sw-btn{
 
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        background-color: #0756A5;
        color: #FFFFFF;
        height: 30px;
        width: 110px;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 3px 3px #999999;
    }
  }
  