<app-loader></app-loader>
<div class="content">
    <div  class="mt-4">
      
        <p *ngIf="!update" class="sw-title">Yeni Şagird</p>
        <p *ngIf="update" class="sw-title">Şagird Düzəliş</p>
        <div class="row">
          <div class="col-12 ">
            <form [formGroup]="newExam" class="card-section form-c"  (ngSubmit)="onSubmit()">  
       
                    <div class="row">
                 
                    

               
                      <div class="col-12 col-sm-4">
                        <div class="block-section mt">
                          <label class="btm-7">Ad</label>
                          <div style=" height:32px;position: relative;" class="sw-input"  
                          [ngClass]="{ 'is-invalid': (newExam.controls['name'].touched || submitted) && newExam.controls['name'].errors}">
                          <input type=text formControlName="name"    style="border:none; width:200px;"/>
                        
                          </div>
                           <span class="text-danger danger-font"
                           *ngIf="(newExam.controls['name'].touched || submitted) && newExam.controls['name']?.errors">
                           Boş ola bilməz.
                           </span>
                      </div>
                      </div>
                      <div class="col-12 col-sm-4">
                        <div class="block-section mt">
                          <label class="btm-7">Soyad</label>
                          <div style=" height:32px;position: relative;" class="sw-input"  
                          [ngClass]="{ 'is-invalid': (newExam.controls['surname'].touched || submitted) && newExam.controls['surname'].errors}">
                          <input type=text formControlName="surname"    style="border:none; width:200px;"/>
                        
                          </div>
                           <span class="text-danger danger-font"
                           *ngIf="(newExam.controls['surname'].touched || submitted) && newExam.controls['surname']?.errors">
                           Boş ola bilməz.
                           </span>
                      </div>
                      </div>

                      <div class="col-12 col-sm-4">
                        <div class="block-section mt">
                          <label class="btm-7">Dərs</label>
                          <mat-select class="sw-input" formControlName="class" >
                              <mat-option *ngFor="let ddl of less" [value]="ddl">
                                {{ddl}}
                              </mat-option>
                            </mat-select>
                            <span class="text-danger danger-font"
                            *ngIf="(newExam.controls['class'].touched || submitted) && newExam.controls['class'].errors">
                            Boş ola bilməz.
                            </span>
                      </div>
                      </div>

                    </div>
                    <div style="display: flex;align-items: center;justify-content: end; margin-top: 15px;">
                      <button class="sw-btn blue blue-ripple" style="margin-right: 20px; padding-right: 15px;" (click)="back()"><mat-icon style="vertical-align: -4px; margin-right: 5px">keyboard_backspace</mat-icon>Geri</button>    
                  <button *ngIf="!update"  type="submit" [disabled]="buttonDisabled" class="sw-btn blue blue-ripple">Əlavə et</button>    
                  <button *ngIf="update"  type="submit" [disabled]="buttonDisabled" class="sw-btn blue blue-ripple">Dəyiş</button>    
                    </div>
                  
                 
                  <!-- <button class="sw-btn blue blue-ripple" style="margin-left: 10px; padding-right: 15px; margin-top:35px"><mat-icon style="vertical-align: -4px; margin-right: 5px">keyboard_backspace</mat-icon>Back</button>    
                  <button *ngIf="!update" [disabled]="newExam.invalid" (click)="createStudent()" style="margin: 40px 0 0 60%;" class="sw-btn blue blue-ripple">Create</button>    
                  <button *ngIf="update" [disabled]="newExam.invalid" (click)="updateStudent()" style="margin: 40px 0 0 60%;" class="sw-btn blue blue-ripple">Update</button>     -->
              </form>
          </div>
        </div>
    
    </div>
    <div class="spin" *ngIf="spinner">
      <div class="mat-spinner" >
      <mat-spinner ></mat-spinner> 
    </div>
  </div>
</div>