@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "@angular/material/theming";
@import "./styles/table-without-filter.scss";
@import "./styles/variables.scss";
@import "./styles/button.scss";
@import "./styles/tab.scss";
@import "./styles/form.scss";
@import "./styles/dialog.scss";
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$oauth-client-primary: mat.define-palette(mat.$indigo-palette);
$oauth-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$oauth-client-warn: mat.define-palette(mat.$red-palette);
// Create the theme object (a Sass map containing all of the palettes).
$oauth-client-theme: mat.define-light-theme($oauth-client-primary, $oauth-client-accent, $oauth-client-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($oauth-client-theme);
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

 @import 'ngx-toastr/toastr';

// // bootstrap style toast
// // or import a bootstrap 4 alert styled design (SASS ONLY)
// // should be after your bootstrap imports, it uses bs4 variables, mixins, functions
// @import 'ngx-toastr/toastr-bs4-alert';

// // if you'd like to use it without importing all of bootstrap it requires
// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
// @import 'bootstrap/scss/mixins';
// // bootstrap 4
// @import 'ngx-toastr/toastr-bs4-alert';
// // boostrap 5
// @import 'ngx-toastr/toastr-bs5-alert';

main>.container {
    padding: 35px 0;
}

#cpc {
    display: none;
}

html,
body {
  
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    line-height: 1.42857143 !important;
    background: white !important;
padding: 0;
}
.block-section .multiselect-dropdown .dropdown-btn {
    display: inline-block;
    background: #FFFFFF!important;
    border: 1px solid #EEEEEE!important;
    box-shadow: 0 0 0 1px #d3d3d3!important;
      max-width: 100%!important;
      box-shadow: 0!important;
      padding: 0 12px 0 6px!important;
      margin-bottom: 0;
      line-height: 1.52857143;
      text-align: left;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border-radius: 4px;
      
      color: #78797a !important;
      font-weight: 400 !important;
      padding-left: 7px !important;
}
// .container {
//     max-width: 1200px;
// }

.cdk-global-scrollblock {
    position: static;
    overflow: hidden !important;
}

.content{
    margin-left: 10px;
    margin-right: 20px;
}
#toast-container > div {
    opacity:1;
}
/* You can add global styles to this file, and also import other style files */

section {
    margin: 15px 0px;
}

input{
    background-color: #fff !important;
    outline: none !important;
}

textarea{
   
    color: #78797a;
    font-weight: 400;
    padding-left: 7px;
    background-color: #fff !important;
    outline: none !important;
}

.card-section {
    overflow: auto; 
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    padding-bottom: 70px;
    box-shadow: 0 3px 5px rgba(147, 148, 150, 0.788);
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-webkit{
    display: -webkit-box; 
    -webkit-box-pack: justify;
    display: -webkit-flex; 
    -webkit-justify-content: space-between; 
    display: flex;
    justify-content: space-between;
    text-align: justify; 
    text-align-last: justify; 
  }

  .block-section{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
  }

//----------------------------table--------------------------------------
.mb-5{
    margin-bottom: 50px;
}
.table-container{border-radius:  5px  5px 0 0 !important;}
table{
    width: 100%;
    //table-layout: fixed;
    overflow-x: auto;
    border: none;
    border-spacing: 0!important;
    border-radius:  5px  5px 0 0 !important;
}
.main-table {
    box-sizing: border-box;
    border-radius:  5px  5px 0 0 !important;
    box-shadow: 0 2px 2px -1px rgb(0 0 0 / 20%), 0 2px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    overflow: hidden; 
    padding: 0!important;
    .head{
       
    background-color: #0756A5;
    height: 55px;
    color: #ffff;
   
    font-style: normal;
    font-size: 2vw;
    font-weight: 800;
    padding: 0!important;
    }

    tr {
      height: 45px;
      padding: 0!important;
    }

    th,
    td {
    width: 260px;
    padding: 0!important;
    text-align: center;
    font-size: 1.5vw;;
    height: 75px!important;
  
    }
    td {
        color: rgba($color: #000000, $alpha: .7);
       border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
        }
  }

  .sw-title{

    text-shadow: 0px 3px 4px #b4b6b8;
    //margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 49px;
    color: #333333;
}


#sidebar .mat-expansion-panel {
    background: transparent;
    color: white;
}

#sidebar .mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}

#sidebar .mat-expansion-indicator::after {
    color: white;
}

#sidebar a.router-link-active {
    color: #71cde8 !important;
}

p[_ngcontent-lgc-c10].text-left {
    text-align: left !important;
}

//------------------------- buttons ----------------------------
.sw-btn{
 
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background-color: #0756A5;
    color: #FFFFFF;
    height: 40px;
    width: 170px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 3px 3px #999999;
   
}

.b-position{
    position: absolute;
    right: 20px;
}
.c-position{
    position: absolute;
    right: 200px;
}
.blue{
  background-color: #0756A5;
}

.blue-ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .blue-ripple:hover {
    background: #3073b6 radial-gradient(circle, transparent 1%, #3073b6 1%) center/15000%;
  }
  .blue-ripple:active {
    background-color: #3073b6;
    background-size: 100%;
    transition: background 0s;
  }

  .blue-ripple[disabled]:hover {
    background: #c6c2c2 radial-gradient(circle, transparent 1%, #c6c2c2 1%) center/15000%;
  }
  .blue-ripple[disabled]:active {
    background-color: #c6c2c2;
    background-size: 100%;
    transition: background 0s;
  }


  .red-ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .red-ripple:hover {
    background: #ee1d24 radial-gradient(circle, transparent 1%, #f3474c 1%) center/15000%;
  }
  .red-ripple:active {
    background-color: #f3474c;
    background-size: 100%;
    transition: background 0s;
}

label{
  
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

input[type=text]{
  
    color: #78797a;
    font-weight: 400;
    padding-left: 7px;
    background-color: #fff !important;
}

.sw-input{
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 0 0 0 1px #d3d3d3;
border-radius: 6px;
padding: 3px;
width: 210px!important;
margin-bottom: 10px!important;
}

.is-invalid {
    border: 1.5px solid red !important;
}

.is-invalid-checkbox{
    border: 1.5px solid red !important;
}

.is-invalid-circle .mat-radio-outer-circle{
    border: 1.5px solid red !important;
}

.danger-font{

font-size: 14px !important;
font-weight: 400;
}

::ng-deep .mat-paginator-range-label {
    margin: 7px 32px 0 24px!important   ;
}

.mat-button,
.mat-select,
.mat-dialog-title,
.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab,
.mat-menu-item,
.mat-checkbox,
.mat-radio-button,
.mat-option {
    // font-family: 'esahsFontFamily';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 3px;
    height: 32px;
    font-size: 14px;
    color: rgb(126, 129, 129);
    padding: 3px 12px;
    cursor: pointer;
  }

  input[type= 'file'] {
    opacity: 0;
}

input[disabled],
.mat-select-disabled,
select[disabled] {
  background-color: #e9f2ed !important;
  cursor: not-allowed !important;
}

.sw-btn[disabled],
.sw-btn[disabled]:hover {
  cursor: not-allowed !important;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #c6c2c2 !important;
  opacity: 0.7;
  color: #a09f9f !important;
  border-color: #a9a8a8;
}

app-root {
    display: block;
}

#successdiv div {
    background-color: #d5f5bd;
    color: #319d05;
    font-weight: 600;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media print {

    app-root,
    .cdk-overlay-container {
        display: none;
    }

    body,
    html,
    #my_print {
        background: white !important;
        width: 100%;
        height: 100%;
    }
}

// .cdk-overlay-pane {
//     max-height: 600px !important;
// }

select::-ms-expand {
    display: none;
}

@media print {
    app-root,
    .cdk-overlay-container {
        display: none;
    }
    body,
    html, #my_print {
        background: white !important;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 600px) {
    .mat-datepicker-toggle {
        pointer-events: auto;
        position: absolute;
        margin-top: -34px;
        margin-left: 118px !important;
    }
    .main-table {
        box-sizing: border-box;
        border-radius:  5px  5px 0 0 !important;
        box-shadow: 0 2px 2px -1px rgb(0 0 0 / 20%), 0 2px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
        overflow: hidden; 
        padding: 0!important;
        .head{
           
        background-color: #0756A5;
        height: 55px;
        color: #ffff;
       
        font-style: normal;
        font-size: 2.5vw;
        font-weight: 800;
        padding: 0!important;
        }
    
        tr {
          height: 35px!important;
          padding: 0!important;
        }
    
        th,
        td {
        width: 260px;
        padding: 0!important;
        text-align: center;
        font-size: 2vw;;
        height: 40px!important;
       
        }
        td {
           border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
           height: 35px!important;
            }
      }
    .sw-title {
        text-shadow: 0px 3px 4px #b4b6b8;
        margin-top: 20px;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 49px;
        color: #333333;
    }
    .sw-input {
        margin-bottom: 4px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0 0 0 1px #d3d3d3;
        border-radius: 6px;
        padding: 3px;
        width: 150px !important;
    }

    .sw-btn{
        margin-top: 30px!important;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        background-color: #0756A5;
        color: #FFFFFF;
        height: 30px;
        width: 110px;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 3px 3px #999999;
    }
  }
.mat-dialog-content{
    margin: 0 !important;
    padding: 0!important;
    overflow: hidden!important;
}

mat-option {
    height: auto !important;
    font-size: 12px !important;
    padding: 5px !important;
    line-height: 17px !important;
}

mat-option span {
    white-space: normal;
}

.cursor-pointer {
    cursor: pointer;
}

.no-border {
    border: none !important;
}

.custom-date-picker .mat-form-field-infix {
    top: -5px;
    padding: 0;
}

.custom-date-picker .mat-form-field-flex {
    padding-top: 0 !important;
}

.custom-selectt .mat-form-field-infix {
    padding-top: 0;
    padding-bottom: 8px;
}

.custom-selectt .mat-form-field-flex {
    padding-top: 0 !important;
}

// .custom-selectt .mat-select-arrow-wrapper {
//     transform: translateY(0%) !important;
// }

@-moz-document url-prefix() {
    .custom-date-picker .mat-form-field-infix {
        top: -10px;
    }
}

.custom-tooltip {
    font-size: 13px;
}

// app-cabinet-home tr.mat-header-row {
//     height: 10px !important;
// }


.mat-form-field-flex{
    align-items: inherit !important;
}


.closee-button {
    position: absolute;
    top: 20px;
    left:12px;
}

.mat-stepper-horizontal-line
{
    margin-left: -45px !important;
    margin-right: -69px !important;
}

@mixin styleStepLine($index) {
    .mat-horizontal-stepper-header {
        &+.mat-stepper-horizontal-line:nth-child(#{$index}) {
            height: 1px;
            background-color: $info;
        }
        &+.mat-stepper-horizontal-line:not(:nth-child(2)) {
            margin-left: -68px !important;
        }
    }
}

.last-edited-step-1 {
    @include styleStepLine(2);
}
.last-edited-step-2 {
    @include styleStepLine(2);
    @include styleStepLine(4);
}
.last-edited-step-3 {
    @include styleStepLine(2);
    @include styleStepLine(4);
    @include styleStepLine(6);
}

.last-edited-step-1 #cdk-step-label-0-0 .mat-step-icon-state-number,
.last-edited-step-2 #cdk-step-label-0-0 .mat-step-icon-state-number,
.last-edited-step-2 #cdk-step-label-0-1 .mat-step-icon-state-number,
.last-edited-step-3 #cdk-step-label-0-0 .mat-step-icon-state-number,
.last-edited-step-3 #cdk-step-label-0-1 .mat-step-icon-state-number,
.last-edited-step-3 #cdk-step-label-0-2 .mat-step-icon-state-number {
    border: 1px solid $info;
    background-color: $info;
    color: #fff;
}

.last-edited-step-1 .mat-horizontal-stepper-header + .mat-stepper-horizontal-line:not(:nth-child(2)) {
    margin-left: -45px !important;
}

.mat-mdc-select-value {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .6;
}
.spin{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .3);
}
 .mat-spinner{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px,-50px);
}